.conteudo{
    width:450px;
}

.carrousel{
    display:grid;
    grid-auto-flow:column;
    scroll-behavior: auto;
    gap:1.2rem;
    overflow-y:auto;
    overscroll-behavior-x:contain ;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;

}

.carrousel::-webkit-scrollbar{
    display:block;

}

.card{
    scroll-snap-align:start;
    border-radius:30px;
    min-height: 200px;
    min-width:300px;
    display:flex;
    align-items:center;
    justify-content:center;

}

.card:nth-child(odd){
    background:linear-gradient(-229deg),#afcf73,#81b521,#3d5503;

}

.card:nth-child(even){
    background: linear-gradient(-229deg),#3d5503,#81b521,#afcf73;
}