*{
    padding:0;
    margin:0;
    border:border-box;

}

/**navigation bar**/

#navbar{
    background-color: #2e3d09;
    height: 30px;
    width:100%;
    display: flex;
    flex-direction: row;
    padding:3%;
    align-items: center;

}
#logo{
    text-align:start;
    padding-left: 30px;
    color: #81b521;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
   
}


.navigation-bar a{
    margin-right: 130px;
    margin-left:5px;
    justify-content: space-between;
    text-decoration: none;
    color:white;

    
}

.navigation-bar a:hover{
    height: 70px;
    background-color:#2a3905;
    transition: background-color 0.9s ease; 
}

.login-page:hover{
background-color:#293a02 ;
border:2px solid ;
}


body{
    background-color: #2f4202;
}

/**hero section**/

/**image slider**/


.image-container{
 position:relative;
}

.image-list{
  display:flex;

}

.image-item{
min-width:100%;
transition:transform 0.2s;

}

.image-item img{
    width:100%;
    height:100%;
}


.img-btn-container{
    position: absolute;
    top:0;
    display:flex;
    justify-content:space-between;
    width:100%;
    
}
        

.slider-btn{
border:1px solid black;
padding:100px 20px;
font-size:50px;

background-color: transparent;
color:#293a02;

}

.slider-btn i{

font-weight: 900;
}

.slider-btn:focus{
  border-color: transparent;
  box-shadow: -10px -10px 10px  black ,
  10px 10px 10px  whitw;
  margin: 2px;

}



/**services offered**/



.facilities-section{
display: flex; 
background-color: #2f4202;

}


.box{
border: 2px solid darkgreen ;
height: 200px;
width: 23%;
background-color:#e6f8c5;
border-radius: 26%;
text-align: center;
justify-content: space-between;
padding-top: 80px;
}
            
.box:hover{
    height:210px;
    width: 23%;
    background-color:#afcf73;
    transition: background-color 0.2s ease;
}

.box1{
    color:#2f4202;

    padding-bottom:10px;
    margin:5%;
}

.box2{
    color:#2f4202;
    padding-left:10px;
    padding-bottom:10px;
    margin:5%;
}

.box3{
    color:#2f4202;
    padding-left:10px;
    padding-bottom:10px;
    margin:5%;
}

.box4{
    color:#2f4202;
    padding-left:10px;
    padding-bottom:10px;
    margin:5%;

}



/**additional information on the features**/


.section-left{
    padding: 10px 20px;
    justify-content: center;
    align-items:left;
    flex-direction:column;
    background-color:#2f4202 ;
    max-width: 400 px;
}

.section-left h2{
    color:#364906;
    margin:5%;
}


    /**display:block;
    background-color: aqua;
    height: 400px;
    width: 23%;
  
    border-radius: 8%;
    justify-content: space-between;
    padding-top: 8px;
    padding-left:10px;
    padding-bottom:10px;
    padding: 5%;
    margin:5%;**/




/**image beside pannel**/

.section-right{
    width:550px;
    height:550px;
    background-image:url("soil.jpeg") ;
    background-size: cover;
}


.pannel{
border: 2px solid darkgreen ;
height: 400px;
width: 23%;
background-color:#e6f8c5;
border-radius: 8%;
text-align: center;
justify-content: space-between;
padding-top: 8px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

.pannel1{
    color:#3d5503;
    padding-left:10px;
    padding-bottom:10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5%;
    margin:5%;
      
}

.pannel2{
    color:#3d5503;
    padding-left:10px;
    padding-bottom:10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5%;
    margin:5%;
   
        
    
}.pannel:hover{
    height: 410px;
    width: 25%;
    background-color:#afcf73;
    transition: background-color 0.9s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
}

.pannel3{
    color:#3d5503;
    padding-left:10px;
    padding-bottom:10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5%;
    margin:5%;
    
}



/**contact info**/



    .info{
    height: 400px;
    width: 23%;
    background-color:#3d5503;}

    #social-media{
        color:white;
       }
    
    #links{
        color:white;
       }  
   
   .footer-section {
       margin-bottom: 15px;
       color:white;
       transition: background-color 0.3s ease;
   }

   .footer-section:hover{
    background-color:#2f4202;
   }
   
   .footer-section h3 {
       cursor: pointer;
       
       margin: 20px;
   }
   
   .hidden {
       display: none;
   }
   
   .footer-section a {
       text-decoration: none;
       margin-top: 5px;
   }

   .footer-section p{
       margin-left:40px;
   }

   .footer-section a:hover {
       text-decoration: underline;
   }