*{
    padding:0;
    margin:0;
    color:white;
    border:border-box;

}

/**navigation bar**/

#navbar{
    background-color: #3d5503;
    height: 50px;

}
#logo{
    text-align:start;
    color: #81b521;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
   
}


.navigation-bar a{
    margin-right: 130px;
    margin-left:5px;
    justify-content: space-between;
    text-decoration: none;

    
}

.navigation-bar a:hover{
    height: 55px;
    background-color:#2a3905;
    transition: background-color 0.9s ease; 
}

.login-page:hover{
background-color:#293a02 ;
border:2px solid ;
}


body{
    background-color: #2f4202;
}

/**hero section**/

.hero-section{
    background-image: url("img4.jpeg");
    position:relative;
    background-size: cover;
    height: 400px;
}

/**services**/
.facilities-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #2f4202;
}


.box{
border: 2px solid darkgreen ;
height: 80px;
width: 23%;
background-color:#e6f8c5;
border-radius: 26%;
text-align: center;
justify-content: space-between;
padding-top: 8px;
}
            
.box:hover{
    height: 90px;
    width: 25%;
    background-color:#afcf73;
    transition: background-color 0.9s ease;
}

.box1{
    color:#2f4202;
    padding-left:10px;
    padding-bottom:10px;
    margin:2%;
}

.box2{
    color:#2f4202;
    padding-left:10px;
    padding-bottom:10px;
    margin:2%;
}

.box3{
    color:#2f4202;
    padding-left:10px;
    padding-bottom:10px;
    margin:2%;
}

.box4{
    color:#2f4202;
    padding-left:10px;
    padding-bottom:10px;
    margin:2%;

}


/**additional information on the features**/

.extra-info{
    margin:50px;

    justify-content: space-evenly;
    background-color:#2f4202 ;
}

 
.pannel{
border: 2px solid darkgreen ;
height: 400px;
width: 23%;
background-color:#e6f8c5;
border-radius: 8%;
text-align: center;
justify-content: space-between;
padding-top: 8px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

.pannel1{
    color:#3d5503;
    padding-left:10px;
    padding-bottom:10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5%;
    margin:5%;
      
}

.pannel2{
    color:#3d5503;
    padding-left:10px;
    padding-bottom:10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5%;
    margin:5%;
        
    
}.pannel:hover{
    height: 410px;
    width: 25%;
    background-color:#afcf73;
    transition: background-color 0.9s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
}

.pannel3{
    color:#3d5503;
    padding-left:10px;
    padding-bottom:10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5%;
    margin:5%;
    
}



/**contact info**/

.info{
    height: 400px;
    width: 23%;
    background-color:#3d5503;}
   
   .footer-section {
       margin-bottom: 15px;
       transition: background-color 0.3s ease;
   }

   .footer-section:hover{
    background-color:#2f4202;
   }
   
   .footer-section h3 {
       cursor: pointer;
       
       margin: 20px;
   }
   
   .hidden {
       display: none;
   }
   
   .footer-section a {
       text-decoration: none;
       margin-top: 5px;
   }

   .footer-section p{
       margin-left:40px;
   }
   
   .footer-section a:hover {
       text-decoration: underline;
   }