.box2{
    color:#2f4202;
    padding-left:10px;
    padding-bottom:10px;
    margin:5%;
}

.box3{
    color:#2f4202;
    padding-left:10px;
    padding-bottom:10px;
    margin:5%;
}

.box4{
    color:#2f4202;
    padding-left:10px;
    padding-bottom:10px;
    margin:5%;

}

